.pokeball {
  position: relative;
  z-index: 3;
  width: 512px;
  height: 512px;
  transition: transform 0.6s cubic-bezier(1,-0.46,0,1);
}

.topArch {
  position: absolute;
  width: 512px;
  height: 256px;
  background-color: var(--red);
  border-top-left-radius: 256px;
  border-top-right-radius: 256px;
  border: 2px solid var(--black);
  transition: transform 0.6s ease 0.6s;
}

.bottomPiece {
  transition: transform 0.6s ease 0.6s;
}

.bottomArch {
  position: absolute;
  top: 256px;
  width: 512px;
  height: 256px;
  background-color: var(--white);
  border-top-left-radius: 256px;
  border-top-right-radius: 256px;
  border: 2px solid var(--black);
  transform: rotate(180deg);
}

.middle {
  position: absolute;
  margin: auto;
  top: 181px;
  display: grid;
  grid-template-columns: 181px 148px 181px;
  z-index: 2;
  align-items: center;
}

.leftBar,
.rightBar {
  width: 101%;
  height: 20px;
  overflow: visible;
  background-color: var(--black);
}

.buttonArea {
  position: relative;
  width: 151px;
  height: 151px;
  z-index: 3;
}

.blackRing {
  position: absolute;
  width: 151px;
  height: 151px;
  background-color: var(--black);
  border-radius: 50%;
}

.whiteCircle {
  position: absolute;
  width: 110px;
  height: 110px;
  background-color: var(--white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

button {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid rgba(1, 1, 1, 0.3);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  top: 50%;
  left: 50%;
  background-color: var(--white);
  transform: translate(-50%, -50%);
}

button:active {
  box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.pokeball.active {
  transform: rotate(-90deg);
}

.topArch.active {
  transform: translateY(-364px);
}

.bottomPiece.active {
  transform: translateY(364px);
}

.pokeball.inactive {
  transition: transform 0.6s ease 0.6s;
}

.topArch.inactive {
  transition: transform 0.6s ease;
}

.bottomPiece.inactive {
  transition: transform 0.6s ease;
}